@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:wght@400;500&family=Roboto&display=swap");

$alegreya-regular: "Alegreya", serif;
$raleway-regular: "Raleway", sans-serif;
$roboto-regular: "Roboto", sans-serif;
