@use "/styles/abstracts/colors" as c;

@mixin text-styling($font-color, $font, $font-size) {
  font-family: $font;
  font-size: $font-size;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}

@mixin button-styling {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  border-radius: 40px;
  border: solid 1px c.$xanadu;
  background-color: #fff;
}
