@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:wght@400;500&display=swap");

// Fonts
$alegreya-regular: "Alegreya", serif;
$raleway-regular: "Raleway", sans-serif;

// Primary Colors
$redwood: #8f5949;
$hunter-green: #31542c;
$jet: #333;

// Secondary Colors
$xanadu: #7a8778;
$gainsboro: #e1e1e1;

// All Pages
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 1rem;
  margin: auto auto;
}

// Text
@mixin text-styling($font-color, $font, $font-size) {
  font-family: $font;
  font-size: $font-size;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}

.title {
  @include text-styling($redwood, $alegreya-regular, 60px);
  line-height: 1;
}

.heading {
  @include text-styling($redwood, $alegreya-regular, 40px);
  line-height: 1.2;
  .intro{

  }
}

.body,
.button-text {
  @include text-styling($jet, $raleway-regular, 20px);
  line-height: 1.5;
}

// Buttons
@mixin button-styling {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 40px;
  border-radius: 40px;
  border: solid 1px $xanadu;
  background-color: #fff;
}

.button-long-text {
  @include button-styling;
  padding: 20px 40px;
  border-radius: 40px;
  border: solid 1px $xanadu;
  display: flex;
}

.button-next {
  gap: 10px;
  padding: 20px 40px;
  border-radius: 40px;
  border: solid 1px $xanadu;
  background-color: #fff;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-round {
  border: none !important;
  background-color: transparent;
  outline: none;
}

// .button-text > span {
//   margin-left: 22px;
//   display: flex;
//   padding: 4px 0px;
// }

.Vector-7 > span {
  // width: 9.3px;
  // height: 18.7px;
  // transform: rotate(-90deg);
  // border: solid 2px $hunter-green;
  // margin: 2.7px 0 2.7px 20px;
  padding: 1.7px 1.9px 1.7px 1.8px;
}

// Forms
.input-container {
  position: relative;
  padding: 20px;
  margin: 75px;
  .line {
    width: 100%;
    // height: 3px;
    // position: absolute;
    bottom: -8px;
    background: $jet;

    &:after {
      content: "";
      position: absolute;
      float: right;
      width: 100%;
      height: 3px;

      transform: scaleX(0);
      transition: transform 0.3s ease;

      background: $jet;
    }
  }
}
.input-field {
  font-family: $raleway-regular;
  font-size: 40px;
  color: $jet;
  width: 650px;
  text-align: center;
  border: 0;
  outline: none;
  transition: padding 0.3s 0.2s ease;
  border-bottom: solid 2px $jet;

  //Do we need this?
  &:focus {
    // padding-bottom: 5px;
  }

  &:focus + .line {
    &:after {
      transform: scaleX(1);
    }
  }
}

.progressbranch {
  width: 160px;
  height: 132px;
  margin-top: 63px;
  margin-left: 400px;
  margin-right: 880px;
}

// Image
// .OB-image {
//   padding: 20px;
//   margin: 20px;
// }

:export {
  fonts: {
    alegreyaregular: $alegreya-regular;
    ralewayregular: $raleway-regular;
  }
  colors: {
    redwood: $redwood;
    huntergreen: $hunter-green;
    jet: $jet;
    xanadu: $xanadu;
    gainsboro: $gainsboro;
  }
}
